.parallax-effect-glare-scale{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: whitesmoke;
  color: white;
  border: 5px solid lightblue;
  border-radius: 20px;

  transform-style: preserve-3d;
}

  .inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-style: italic;
    color: white;
    transform: translateZ(60px);
  }
